<h1><%= @list.title %></h1>

<p><%= @list.description %></p>

<hr>

<h2>Itens</h2>

<!-- Lista com ID para Turbo -->
<ul id="lista_items">
  <% @items.to_a.each do |item| %>
    <%= render partial: "items/item", locals: { item: item, list: @list } %>
  <% end %>
</ul>

<hr>

<h3>Adicionar novo item</h3>

<%= render partial: "items/form", locals: { list: @list, item: @item } %>

<hr>

<%= link_to "Voltar", lists_path %>