<%= turbo_stream.replace "novo_item_form_#{@list.id}" do %>
  <div id="novo_item_form_<%= @list.id %>" class="mt-3">
    <%= render partial: "items/form", locals: { list: @list, item: @item } %>
  </div>
<% end %>

<%= turbo_stream.update "flash_messages" do %>
  <%= render "shared/flash" %>
<% end %>